$theme-colors: (
  "primary": rgb(227, 6, 19),
  "dark": rgba(27, 27, 27, .90),

);

// Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";

// Fonts
$jetbrains: "JetBrainsMono", monospace;
$inter: "Inter", sans-serif;
