// Light Mode (default)
$theme-colors: (
  "primary": #e30613,
  "dark": #36383b
);

@import "node_modules/bootstrap/scss/bootstrap";

// Fonts
$jetbrains: "JetBrainsMono", monospace;
$inter: "Inter", sans-serif;
